# ============ ПРИЛОЖЕНИЕ ============
PORT=3001
NODE_ENV=production

# ============ БАЗА ДАННЫХ ============
DB_HOST=HOST
DB_PORT=1234
DB_NAME=service-nps
DB_USER=your_username_here
DB_PASSWORD=your_password_here
DB_SSL=false

# ============ GRAPHQL (получение URL статей) ============
PAGES_GRAPHQL_URL=

# Лимит записей в одном поиске
MAX_RESULTS_LIMIT=10000